nav.navbar
    a.nav-item(href="/") Home
    if user
        a.nav-item(href="/movie/add") Add Movie
        a.nav-item(href="/users/logout") Logout
    else
        a.nav-item(href="/users/register") Register
        a.nav-item(href="/users/login") Login